//Primary Color -> Neon green
$neongreen : #84F221;
$neongreen2: #A9F665;
$neongreen3: #DFFCC5;

//Secondary Color -> Off white
$offwhite: #FAFFFB;
$offwhite2: #EFFAF1;
$offwhite3: #FAFFFB30; // Alpha 30%
$offwhite4: #FAFFFB; // Alpha 10%

//Black -> Body color
$black: #0F152D;

//Gray -> Subtitles and info texts
$gray: #757575;
$gray2: #919191;

//Lightgray -> backgrounds and shadows
$lightgray : #DDDFE1;
$lightgray2: #F5F7F9;
$lightgray3: #F9FBFC;
$lightgray4: #FAFAFA;

//Default variables
$body_color: $black;
$font_family: "Poppins", sans-serif;

