@use "sass:meta";
@use "sass:math";
@use "sass:list";

/* Mixin : Px to rem */
@function pxToRem($value){
    $base_value: 16;
    $list_values:();

    @if meta.type-of($value) == "list" {
        @each $val in $value {
            @if math.unit($val) != "%" and math.floor($val) == $val {
                $value_rem: math.div($val, $base_value);
                $list_values: list.append($list_values, $value_rem);
                
            } @else {
                @error "Error: The value #{$val}  is not a valid number.";
            }
        }
        @return $list_values;
        
    } @else {
        @if math.floor($value) == $value and math.unit($value) != "%" {
            $new_value_rem: math.div($value, $base_value);
            @return $new_value_rem;
        }
    }
}

/*Mixin : Rule + simple value without units for simplify the process*/
@mixin rem($rule, $value){
    @if $rule != "" {
        $rem_value: pxToRem($value);

        @if meta.type-of($rem_value) == "list"{
            $values:();
            @each $val in $rem_value {
                $values: list.append($values, #{$val}rem);
            }
            #{$rule}: $values;

        }@else{
            #{$rule}: #{$rem_value}rem;
        }
    }
}

/*Mixin : Add Icons Default configuration*/
@mixin svgIcon($position: before) {
    &::#{$position} {
        content: '';
        vertical-align: middle;
        display: inline-block;
        mask-position: center;
        mask-repeat: no-repeat;
        @include rem(mask-size, 16);
        @include rem(width, 16);
        @include rem(height, 16);
        background: #000;
    }
}

/*Mixin : Change or place a new icon image*/
@mixin svgImage($image, $position:before) {
    &::#{$position} {
        mask-image: url("../images/icons/#{$image}.svg");
    }
}

/*Mixin : Change icon size*/
@mixin svgSize($size, $position:before){
    &::#{$position}{
        @include rem(mask-size, $size);
        @include rem(width, $size);
        @include rem(height, $size);
    }
}

/*Mixin : Change icon color*/
@mixin svgColor($color, $position:before){
    &:#{$position}{
        background: $color;
    }
}

/* Load Fonts : Poppins (400, 500, 600)*/
@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400; // Rango de pesos
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500; // Rango de pesos
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/src/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 600; // Rango de pesos
    font-style: normal;
}
